* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}
html{
  font-size: 10px;
}
body {
  background: black;
}
.todo{
    border-radius: 10px;
    padding: 5px;
    width: 60vh;
    margin:100px auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(34, 37, 44);
}
#header{
  background: rgb(52, 61, 78);
  padding: 20px;
  border-radius: 5px 5px 0 0;
}
.head-title-first {
  color: rgb(194, 181, 2);
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
}
.head-title-second {
  padding-top: 10px;
  font-size: 2.4rem;
  text-align: center;
}
.title {
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 10px;
}
.task-title {
  padding: 10px;
  text-align: left;
  width:  50%;
  display: inline-block;
}
#add_task {
  font-size: 0;
  background: rgb(40, 40, 43);
  padding: 10px 0;
  width: 100%;
}
.date {
    text-align: right;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    width: 50%;
    font-size: 2.4rem;
}
.tasks {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 100%;
}
.tasks input::placeholder {
  font-weight: bold;
  color: rgb(166, 167, 168);
}
.tasks input {
  width: 90%;
  float: left;
  height: 29px;
  padding: 5px;
  padding-right: 0;
  background: none;
  color: white;
  border: 0;
  border-left: 3px solid  rgb(52, 61, 78);
  border-radius: 2px 0 0 2px;
  box-shadow: 0px 1px 0px 0px white;

}
.tasks input:focus{
  outline: none;
}
.submit {
  width: 10%;
  float: left;
  font-weight: bold;
  text-align: center;
  background: rgb(52, 61, 78);
  border-radius: 0 5px 5px 0;
  padding: 5px;
  height: 29px;
  border:1px solid rgb(52, 61, 78);
  box-shadow: 0px 1px 0px 0px white;
}
.submit:focus{
  outline: none;
}
textarea[name=tasktext] {
  display: block;
  padding: 10px;
  width: 96%;
  margin: 0 auto;
  border-top: 3px solid rgb(52, 61, 78);
  border-left: 0;
  border-right: 0;
  border-bottom: 0px solid rgb(52, 61, 78);
  resize: none;
}
.content-input { 
  background: none;
  border-radius: 5px 5px 5px 5px;
}
.content-input::placeholder {
  padding: 5px;
}
.content-input:focus{
  outline: none;
}
#task_input textarea {
    width: 100%;
}
#task_input button {
    border: 0px;
    background: rgb(63, 71, 86);
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}
#task_list {
    background:rgb(52, 61, 78);
    width: 100%;
    padding: 10px 0;
}
#task_list > ul {
  display: inline-block;
  width: 100%;
  list-style: none;
}
#task_list > ul > li {
  margin: 10px 25px;
  height: 50px;
  border-radius: 5px;
  background: rgb(63, 71, 86);
}
#task_list > ul > li > p {
  line-height: 50px;
  padding-left: 10px;
  font-size: 1.9rem;
  font-weight: bold;
  height: 100%;
  float: left;
  display: inline-block;
  width: 85%;
}
.btn-delete{
  font-weight: lighter;
  background: rgb(74, 83, 100);
  height: inherit;
  width: 5%;
  border: 0;
  border-radius: 0px 5px 5px 0;
}
.btn-delete i {
  font-size: 1.6rem;
}
.btn-delete:focus {
  outline: none;
}
.btn-delete:hover i {
  animation: spin 0.5s linear;
}
.checkbox-container {
  float: left;
  border-radius: 5px 0 0 5px; 
  display: inline-block;
  position: relative;
  background: rgb(74, 83, 100);
  height: 100%;
  width: 10%;
}
.checkbox {
  background: rgb(101, 114, 134);
  border-radius: 50%;
  top: 20px;
  left: 20px;
  height: 11px;
  width: 11px;
  position: absolute;
}
.checkbox-container:hover input ~ .checkbox{
  background: rgb(44, 50, 61);
}
.checkbox-container input:checked ~ .checkbox{
  background: rgb(44, 50, 61);
}
.checkbox:after{
  content: "";
  position: absolute;
  display: none;
  
}
.checkbox-container input:checked ~ .checkbox:after{
  display: block;
}
.checkbox-container .checkbox:after{
  left: 3px;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  background: rgb(95, 95, 95);
  top: 3px;
}
.checkbox-container input {
  position: absolute;
  height: 50px;
  width: 50px;
  opacity: 0;
  z-index: 1;
}
footer {
  padding: 10px 0;
  background: rgb(52, 61, 78);
  border-radius: 0px 0px 5px 5px;
}
footer p {
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.3rem;
}
footer a {
  text-decoration: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}